.idea
*__pycache__*
*.vscode*
*.pyc
*.pth
*.pt
*.dat

/node_modules
/datasets
/logs
/outputs
/weights
/backup
/experiments
/figures
/visualizations
*.log
*.ckpt
*.h5
*.onnx
*.zip
*.tar.gz
*.ipynb_checkpoints
*.DS_Store